<!-- Sidebar user panel -->
<div class="user-panel">
    <div class="pull-left image">
        <img src="../../img/avatar3.png" class="img-circle" alt="User Image" />
    </div>
    <div class="pull-left info">
        <p>Hello, Jane</p>

        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
    </div>
</div>
<!-- search form -->
<form action="#" method="get" class="sidebar-form">
    <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search..." />
        <span class="input-group-btn">
            <button type='submit' name='seach' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i>
            </button>
        </span>
    </div>
</form>
<!-- /.search form -->
<!-- sidebar menu: : style can be found in sidebar.less -->
<ul class="sidebar-menu">
    <li ng-repeat="menu in menus" ng-class="{'treeview': menu.children}" treeview isTreeView="{{menu.children}}">
        <a ui-sref="{{menu.state}}" ng-if="menu.state">
            <i class="{{menu.class}}"></i> 
            <span>{{menu.text}}</span>
            <small class="badge pull-right bg-{{menu.badge.color || green}}" ng-if="menu.badge">{{menu.badge.text}}</small>
        </a>
        <a href="#" ng-if="!menu.state">
            <i class="{{menu.class}}"></i> 
            <span>{{menu.text}}</span>
            <i class="fa fa-angle-left pull-right" ng-if="!menu.badge"></i>
            <small class="badge pull-right bg-{{menu.badge.color || green}}" ng-if="menu.badge">{{menu.badge.text}}</small>
        </a>
        <ul class="treeview-menu" ng-if="menu.children">
            <li ng-repeat="child in menu.children">
                <a ui-sref="{{child.state}}"><i class="{{child.class}}"></i>{{child.text}}</a>
            </li>
        </ul>
    </li>
</ul>
